


.active{
    display: none !important;
}
.cActive{
    display: block !important;
}

/* menubar design */
.activeMenu{
    display: block !important;
    animation: drop 0.5s ease-in-out forwards;
    transform-origin: top center;
    z-index: 1;
}

@keyframes drop {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(1)
    }
}


.headerText{
    transform: translateY(-200px);
    transition: all 2s;
}
.headerTextAction{
    transform: translateY(20px);
}